<%= simple_form_for(@consultation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :patient %>
    <%= f.association :doctor %>
    <%= f.input :location %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
